*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    font-family: Montserrat, sans-serif;
    font-weight: 400;
  }
  
  body{
    background: #0c0c04;
    color: #bcb4b4;
  }